
.flex_video{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Cormorant Garamond', serif;
    margin:50px;
    padding:25px 40px;
    color:#41c0bc;
}
.vdio{
    width:400px;
  /* max-width: 400px; */
  max-height: 450px;
}
.video_content{
    max-width: 550px;
    padding:15px 25px;
    justify-content: center;
    align-items: center;
}