@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.main__card{
    justify-content: center;
    text-align: center;
    /* display: flex; */
    border-radius: 8px;
    padding: 2vh 5vw;
    width:70vw;
    height:auto;
    /* background-color: #6CDAEE; */
    background-color: #00d9ff;
    border:2px solid #2f314b;
    transition: all 0.3s;
}
.main__card:hover{
    transform:scale(1.1);
}
.main__card h2{
    font-family: 'Sriracha', cursive;
    color:#2f314b;
    border-bottom: 2px solid #2D5F5D;
    padding-bottom: 1rem;
 }
.content__card{
    text-align: justify;
    justify-content: center;
    color:#022140;
    font-family: 'Anonymous Pro', monospace;
}