.heading{
  /* font-family: 'Dancing Script', 'cursive'; */
  text-align: center;
  margin-top:0px;
  color:white;
  margin-bottom: 10px;
}
.ScoreBorad{
  font-family: cursive;
  margin: 3% auto;
  /*border: 1px solid white;*/
  border: collapse;
}
/* table, td
{
  border: 1px solid white;
}

td{
  padding: 15px 150px;
} */
